/* STYLE.SCSS */
/* VARS */
/* MIXINS */
body {
  background-color: #440099; }

.body-wrapper {
  margin-top: 60px;
  margin-bottom: 70px;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto; }

#gr {
  background-color: #ff32ae;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  border-radius: 3px; }
  #gr .bl {
    width: 43.63636px;
    height: 43.63636px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
    border-radius: 3px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    /*
    &:hover {
      @include qtransform(translate(20px, 20px));
    }
    */ }
    #gr .bl.b {
      background-color: #889910; }
    #gr .bl.l {
      background-color: #aeaeae; }
    #gr .bl.pos-0-0 {
      -webkit-transform: translate(0px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 0px) scale(1.01, 1.01);
      -o-transform: translate(0px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 0px) scale(1.01, 1.01);
      transform: translate(0px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-0-1 {
      -webkit-transform: translate(0px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(0px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 53.63636px) scale(1.01, 1.01);
      transform: translate(0px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-0-2 {
      -webkit-transform: translate(0px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(0px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 107.27273px) scale(1.01, 1.01);
      transform: translate(0px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-0-3 {
      -webkit-transform: translate(0px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(0px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 160.90909px) scale(1.01, 1.01);
      transform: translate(0px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-0-4 {
      -webkit-transform: translate(0px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(0px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 214.54545px) scale(1.01, 1.01);
      transform: translate(0px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-0-5 {
      -webkit-transform: translate(0px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(0px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 268.18182px) scale(1.01, 1.01);
      transform: translate(0px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-0-6 {
      -webkit-transform: translate(0px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(0px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 321.81818px) scale(1.01, 1.01);
      transform: translate(0px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-0-7 {
      -webkit-transform: translate(0px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(0px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 375.45455px) scale(1.01, 1.01);
      transform: translate(0px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-0-8 {
      -webkit-transform: translate(0px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(0px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 429.09091px) scale(1.01, 1.01);
      transform: translate(0px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-0-9 {
      -webkit-transform: translate(0px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(0px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 482.72727px) scale(1.01, 1.01);
      transform: translate(0px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-0-10 {
      -webkit-transform: translate(0px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(0px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(0px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(0px, 536.36364px) scale(1.01, 1.01);
      transform: translate(0px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-1-0 {
      -webkit-transform: translate(53.63636px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 0px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 0px) scale(1.01, 1.01);
      transform: translate(53.63636px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-1-1 {
      -webkit-transform: translate(53.63636px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 53.63636px) scale(1.01, 1.01);
      transform: translate(53.63636px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-1-2 {
      -webkit-transform: translate(53.63636px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 107.27273px) scale(1.01, 1.01);
      transform: translate(53.63636px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-1-3 {
      -webkit-transform: translate(53.63636px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 160.90909px) scale(1.01, 1.01);
      transform: translate(53.63636px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-1-4 {
      -webkit-transform: translate(53.63636px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 214.54545px) scale(1.01, 1.01);
      transform: translate(53.63636px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-1-5 {
      -webkit-transform: translate(53.63636px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 268.18182px) scale(1.01, 1.01);
      transform: translate(53.63636px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-1-6 {
      -webkit-transform: translate(53.63636px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 321.81818px) scale(1.01, 1.01);
      transform: translate(53.63636px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-1-7 {
      -webkit-transform: translate(53.63636px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 375.45455px) scale(1.01, 1.01);
      transform: translate(53.63636px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-1-8 {
      -webkit-transform: translate(53.63636px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 429.09091px) scale(1.01, 1.01);
      transform: translate(53.63636px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-1-9 {
      -webkit-transform: translate(53.63636px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 482.72727px) scale(1.01, 1.01);
      transform: translate(53.63636px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-1-10 {
      -webkit-transform: translate(53.63636px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(53.63636px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(53.63636px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(53.63636px, 536.36364px) scale(1.01, 1.01);
      transform: translate(53.63636px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-2-0 {
      -webkit-transform: translate(107.27273px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 0px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 0px) scale(1.01, 1.01);
      transform: translate(107.27273px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-2-1 {
      -webkit-transform: translate(107.27273px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 53.63636px) scale(1.01, 1.01);
      transform: translate(107.27273px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-2-2 {
      -webkit-transform: translate(107.27273px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 107.27273px) scale(1.01, 1.01);
      transform: translate(107.27273px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-2-3 {
      -webkit-transform: translate(107.27273px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 160.90909px) scale(1.01, 1.01);
      transform: translate(107.27273px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-2-4 {
      -webkit-transform: translate(107.27273px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 214.54545px) scale(1.01, 1.01);
      transform: translate(107.27273px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-2-5 {
      -webkit-transform: translate(107.27273px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 268.18182px) scale(1.01, 1.01);
      transform: translate(107.27273px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-2-6 {
      -webkit-transform: translate(107.27273px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 321.81818px) scale(1.01, 1.01);
      transform: translate(107.27273px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-2-7 {
      -webkit-transform: translate(107.27273px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 375.45455px) scale(1.01, 1.01);
      transform: translate(107.27273px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-2-8 {
      -webkit-transform: translate(107.27273px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 429.09091px) scale(1.01, 1.01);
      transform: translate(107.27273px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-2-9 {
      -webkit-transform: translate(107.27273px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 482.72727px) scale(1.01, 1.01);
      transform: translate(107.27273px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-2-10 {
      -webkit-transform: translate(107.27273px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(107.27273px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(107.27273px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(107.27273px, 536.36364px) scale(1.01, 1.01);
      transform: translate(107.27273px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-3-0 {
      -webkit-transform: translate(160.90909px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 0px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 0px) scale(1.01, 1.01);
      transform: translate(160.90909px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-3-1 {
      -webkit-transform: translate(160.90909px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 53.63636px) scale(1.01, 1.01);
      transform: translate(160.90909px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-3-2 {
      -webkit-transform: translate(160.90909px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 107.27273px) scale(1.01, 1.01);
      transform: translate(160.90909px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-3-3 {
      -webkit-transform: translate(160.90909px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 160.90909px) scale(1.01, 1.01);
      transform: translate(160.90909px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-3-4 {
      -webkit-transform: translate(160.90909px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 214.54545px) scale(1.01, 1.01);
      transform: translate(160.90909px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-3-5 {
      -webkit-transform: translate(160.90909px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 268.18182px) scale(1.01, 1.01);
      transform: translate(160.90909px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-3-6 {
      -webkit-transform: translate(160.90909px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 321.81818px) scale(1.01, 1.01);
      transform: translate(160.90909px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-3-7 {
      -webkit-transform: translate(160.90909px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 375.45455px) scale(1.01, 1.01);
      transform: translate(160.90909px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-3-8 {
      -webkit-transform: translate(160.90909px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 429.09091px) scale(1.01, 1.01);
      transform: translate(160.90909px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-3-9 {
      -webkit-transform: translate(160.90909px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 482.72727px) scale(1.01, 1.01);
      transform: translate(160.90909px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-3-10 {
      -webkit-transform: translate(160.90909px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(160.90909px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(160.90909px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(160.90909px, 536.36364px) scale(1.01, 1.01);
      transform: translate(160.90909px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-4-0 {
      -webkit-transform: translate(214.54545px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 0px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 0px) scale(1.01, 1.01);
      transform: translate(214.54545px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-4-1 {
      -webkit-transform: translate(214.54545px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 53.63636px) scale(1.01, 1.01);
      transform: translate(214.54545px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-4-2 {
      -webkit-transform: translate(214.54545px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 107.27273px) scale(1.01, 1.01);
      transform: translate(214.54545px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-4-3 {
      -webkit-transform: translate(214.54545px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 160.90909px) scale(1.01, 1.01);
      transform: translate(214.54545px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-4-4 {
      -webkit-transform: translate(214.54545px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 214.54545px) scale(1.01, 1.01);
      transform: translate(214.54545px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-4-5 {
      -webkit-transform: translate(214.54545px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 268.18182px) scale(1.01, 1.01);
      transform: translate(214.54545px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-4-6 {
      -webkit-transform: translate(214.54545px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 321.81818px) scale(1.01, 1.01);
      transform: translate(214.54545px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-4-7 {
      -webkit-transform: translate(214.54545px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 375.45455px) scale(1.01, 1.01);
      transform: translate(214.54545px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-4-8 {
      -webkit-transform: translate(214.54545px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 429.09091px) scale(1.01, 1.01);
      transform: translate(214.54545px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-4-9 {
      -webkit-transform: translate(214.54545px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 482.72727px) scale(1.01, 1.01);
      transform: translate(214.54545px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-4-10 {
      -webkit-transform: translate(214.54545px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(214.54545px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(214.54545px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(214.54545px, 536.36364px) scale(1.01, 1.01);
      transform: translate(214.54545px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-5-0 {
      -webkit-transform: translate(268.18182px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 0px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 0px) scale(1.01, 1.01);
      transform: translate(268.18182px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-5-1 {
      -webkit-transform: translate(268.18182px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 53.63636px) scale(1.01, 1.01);
      transform: translate(268.18182px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-5-2 {
      -webkit-transform: translate(268.18182px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 107.27273px) scale(1.01, 1.01);
      transform: translate(268.18182px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-5-3 {
      -webkit-transform: translate(268.18182px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 160.90909px) scale(1.01, 1.01);
      transform: translate(268.18182px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-5-4 {
      -webkit-transform: translate(268.18182px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 214.54545px) scale(1.01, 1.01);
      transform: translate(268.18182px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-5-5 {
      -webkit-transform: translate(268.18182px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 268.18182px) scale(1.01, 1.01);
      transform: translate(268.18182px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-5-6 {
      -webkit-transform: translate(268.18182px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 321.81818px) scale(1.01, 1.01);
      transform: translate(268.18182px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-5-7 {
      -webkit-transform: translate(268.18182px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 375.45455px) scale(1.01, 1.01);
      transform: translate(268.18182px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-5-8 {
      -webkit-transform: translate(268.18182px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 429.09091px) scale(1.01, 1.01);
      transform: translate(268.18182px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-5-9 {
      -webkit-transform: translate(268.18182px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 482.72727px) scale(1.01, 1.01);
      transform: translate(268.18182px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-5-10 {
      -webkit-transform: translate(268.18182px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(268.18182px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(268.18182px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(268.18182px, 536.36364px) scale(1.01, 1.01);
      transform: translate(268.18182px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-6-0 {
      -webkit-transform: translate(321.81818px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 0px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 0px) scale(1.01, 1.01);
      transform: translate(321.81818px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-6-1 {
      -webkit-transform: translate(321.81818px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 53.63636px) scale(1.01, 1.01);
      transform: translate(321.81818px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-6-2 {
      -webkit-transform: translate(321.81818px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 107.27273px) scale(1.01, 1.01);
      transform: translate(321.81818px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-6-3 {
      -webkit-transform: translate(321.81818px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 160.90909px) scale(1.01, 1.01);
      transform: translate(321.81818px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-6-4 {
      -webkit-transform: translate(321.81818px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 214.54545px) scale(1.01, 1.01);
      transform: translate(321.81818px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-6-5 {
      -webkit-transform: translate(321.81818px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 268.18182px) scale(1.01, 1.01);
      transform: translate(321.81818px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-6-6 {
      -webkit-transform: translate(321.81818px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 321.81818px) scale(1.01, 1.01);
      transform: translate(321.81818px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-6-7 {
      -webkit-transform: translate(321.81818px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 375.45455px) scale(1.01, 1.01);
      transform: translate(321.81818px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-6-8 {
      -webkit-transform: translate(321.81818px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 429.09091px) scale(1.01, 1.01);
      transform: translate(321.81818px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-6-9 {
      -webkit-transform: translate(321.81818px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 482.72727px) scale(1.01, 1.01);
      transform: translate(321.81818px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-6-10 {
      -webkit-transform: translate(321.81818px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(321.81818px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(321.81818px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(321.81818px, 536.36364px) scale(1.01, 1.01);
      transform: translate(321.81818px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-7-0 {
      -webkit-transform: translate(375.45455px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 0px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 0px) scale(1.01, 1.01);
      transform: translate(375.45455px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-7-1 {
      -webkit-transform: translate(375.45455px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 53.63636px) scale(1.01, 1.01);
      transform: translate(375.45455px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-7-2 {
      -webkit-transform: translate(375.45455px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 107.27273px) scale(1.01, 1.01);
      transform: translate(375.45455px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-7-3 {
      -webkit-transform: translate(375.45455px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 160.90909px) scale(1.01, 1.01);
      transform: translate(375.45455px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-7-4 {
      -webkit-transform: translate(375.45455px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 214.54545px) scale(1.01, 1.01);
      transform: translate(375.45455px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-7-5 {
      -webkit-transform: translate(375.45455px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 268.18182px) scale(1.01, 1.01);
      transform: translate(375.45455px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-7-6 {
      -webkit-transform: translate(375.45455px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 321.81818px) scale(1.01, 1.01);
      transform: translate(375.45455px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-7-7 {
      -webkit-transform: translate(375.45455px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 375.45455px) scale(1.01, 1.01);
      transform: translate(375.45455px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-7-8 {
      -webkit-transform: translate(375.45455px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 429.09091px) scale(1.01, 1.01);
      transform: translate(375.45455px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-7-9 {
      -webkit-transform: translate(375.45455px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 482.72727px) scale(1.01, 1.01);
      transform: translate(375.45455px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-7-10 {
      -webkit-transform: translate(375.45455px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(375.45455px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(375.45455px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(375.45455px, 536.36364px) scale(1.01, 1.01);
      transform: translate(375.45455px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-8-0 {
      -webkit-transform: translate(429.09091px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 0px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 0px) scale(1.01, 1.01);
      transform: translate(429.09091px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-8-1 {
      -webkit-transform: translate(429.09091px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 53.63636px) scale(1.01, 1.01);
      transform: translate(429.09091px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-8-2 {
      -webkit-transform: translate(429.09091px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 107.27273px) scale(1.01, 1.01);
      transform: translate(429.09091px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-8-3 {
      -webkit-transform: translate(429.09091px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 160.90909px) scale(1.01, 1.01);
      transform: translate(429.09091px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-8-4 {
      -webkit-transform: translate(429.09091px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 214.54545px) scale(1.01, 1.01);
      transform: translate(429.09091px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-8-5 {
      -webkit-transform: translate(429.09091px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 268.18182px) scale(1.01, 1.01);
      transform: translate(429.09091px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-8-6 {
      -webkit-transform: translate(429.09091px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 321.81818px) scale(1.01, 1.01);
      transform: translate(429.09091px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-8-7 {
      -webkit-transform: translate(429.09091px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 375.45455px) scale(1.01, 1.01);
      transform: translate(429.09091px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-8-8 {
      -webkit-transform: translate(429.09091px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 429.09091px) scale(1.01, 1.01);
      transform: translate(429.09091px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-8-9 {
      -webkit-transform: translate(429.09091px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 482.72727px) scale(1.01, 1.01);
      transform: translate(429.09091px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-8-10 {
      -webkit-transform: translate(429.09091px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(429.09091px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(429.09091px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(429.09091px, 536.36364px) scale(1.01, 1.01);
      transform: translate(429.09091px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-9-0 {
      -webkit-transform: translate(482.72727px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 0px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 0px) scale(1.01, 1.01);
      transform: translate(482.72727px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-9-1 {
      -webkit-transform: translate(482.72727px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 53.63636px) scale(1.01, 1.01);
      transform: translate(482.72727px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-9-2 {
      -webkit-transform: translate(482.72727px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 107.27273px) scale(1.01, 1.01);
      transform: translate(482.72727px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-9-3 {
      -webkit-transform: translate(482.72727px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 160.90909px) scale(1.01, 1.01);
      transform: translate(482.72727px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-9-4 {
      -webkit-transform: translate(482.72727px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 214.54545px) scale(1.01, 1.01);
      transform: translate(482.72727px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-9-5 {
      -webkit-transform: translate(482.72727px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 268.18182px) scale(1.01, 1.01);
      transform: translate(482.72727px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-9-6 {
      -webkit-transform: translate(482.72727px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 321.81818px) scale(1.01, 1.01);
      transform: translate(482.72727px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-9-7 {
      -webkit-transform: translate(482.72727px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 375.45455px) scale(1.01, 1.01);
      transform: translate(482.72727px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-9-8 {
      -webkit-transform: translate(482.72727px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 429.09091px) scale(1.01, 1.01);
      transform: translate(482.72727px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-9-9 {
      -webkit-transform: translate(482.72727px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 482.72727px) scale(1.01, 1.01);
      transform: translate(482.72727px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-9-10 {
      -webkit-transform: translate(482.72727px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(482.72727px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(482.72727px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(482.72727px, 536.36364px) scale(1.01, 1.01);
      transform: translate(482.72727px, 536.36364px) scale(1.01, 1.01); }
    #gr .bl.pos-10-0 {
      -webkit-transform: translate(536.36364px, 0px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 0px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 0px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 0px) scale(1.01, 1.01);
      transform: translate(536.36364px, 0px) scale(1.01, 1.01); }
    #gr .bl.pos-10-1 {
      -webkit-transform: translate(536.36364px, 53.63636px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 53.63636px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 53.63636px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 53.63636px) scale(1.01, 1.01);
      transform: translate(536.36364px, 53.63636px) scale(1.01, 1.01); }
    #gr .bl.pos-10-2 {
      -webkit-transform: translate(536.36364px, 107.27273px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 107.27273px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 107.27273px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 107.27273px) scale(1.01, 1.01);
      transform: translate(536.36364px, 107.27273px) scale(1.01, 1.01); }
    #gr .bl.pos-10-3 {
      -webkit-transform: translate(536.36364px, 160.90909px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 160.90909px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 160.90909px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 160.90909px) scale(1.01, 1.01);
      transform: translate(536.36364px, 160.90909px) scale(1.01, 1.01); }
    #gr .bl.pos-10-4 {
      -webkit-transform: translate(536.36364px, 214.54545px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 214.54545px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 214.54545px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 214.54545px) scale(1.01, 1.01);
      transform: translate(536.36364px, 214.54545px) scale(1.01, 1.01); }
    #gr .bl.pos-10-5 {
      -webkit-transform: translate(536.36364px, 268.18182px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 268.18182px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 268.18182px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 268.18182px) scale(1.01, 1.01);
      transform: translate(536.36364px, 268.18182px) scale(1.01, 1.01); }
    #gr .bl.pos-10-6 {
      -webkit-transform: translate(536.36364px, 321.81818px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 321.81818px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 321.81818px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 321.81818px) scale(1.01, 1.01);
      transform: translate(536.36364px, 321.81818px) scale(1.01, 1.01); }
    #gr .bl.pos-10-7 {
      -webkit-transform: translate(536.36364px, 375.45455px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 375.45455px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 375.45455px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 375.45455px) scale(1.01, 1.01);
      transform: translate(536.36364px, 375.45455px) scale(1.01, 1.01); }
    #gr .bl.pos-10-8 {
      -webkit-transform: translate(536.36364px, 429.09091px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 429.09091px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 429.09091px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 429.09091px) scale(1.01, 1.01);
      transform: translate(536.36364px, 429.09091px) scale(1.01, 1.01); }
    #gr .bl.pos-10-9 {
      -webkit-transform: translate(536.36364px, 482.72727px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 482.72727px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 482.72727px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 482.72727px) scale(1.01, 1.01);
      transform: translate(536.36364px, 482.72727px) scale(1.01, 1.01); }
    #gr .bl.pos-10-10 {
      -webkit-transform: translate(536.36364px, 536.36364px) scale(1.01, 1.01);
      -moz-transform: translate(536.36364px, 536.36364px) scale(1.01, 1.01);
      -o-transform: translate(536.36364px, 536.36364px) scale(1.01, 1.01);
      -ms-transform: translate(536.36364px, 536.36364px) scale(1.01, 1.01);
      transform: translate(536.36364px, 536.36364px) scale(1.01, 1.01); }
